<div class="row">
    <div id="login" class="col s12">
      
      {{#if error}}
        <p class="alert">{{error}}</p>
      {{/if}}

      <h1>Create New Password</h1>
        <form action="/auth/password" method="POST" class="form">
        <div class="input-field">
          <input name="password" id="password" type="password" class="validate" required>
          <label for="password">New Password</label>
          <span class="helper-text" data-error="Please fill in your new password"></span>
        </div>
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="userId" value="{{userId}}">
        <input type="hidden" name="token" value="{{token}}">
        <button class="btn btn-primary" type="submit">Update password</button>
      </form>
    </div>
</div>
